// VARIABLES

text-color = #7E7165
text-color-light = #B2AAA3
error-color = #FF4545 // #FFA4A1
green = #8DBC55
hovergreen = #74af2d
lightgreen = #88C767
bodybg = white

fsr = FS-regular
fsl = FS-light
fsm = FS-medium
fsb = FS-bold

//speed
fast = .3s
medium = .5s
slow = .7s


// HAVE TO REMOVE

w = 0 0 0 1px white
g = 0 0 0 1px green
r = 0 0 0 1px red
b = 0 0 0 1px blue
bl = 0 0 0 1px black
